.nav{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: white;
}

.logout-btn{
    appearance: none;
    border: none;
    background-color: transparent;
    color: white;
}


/* content */
.main{
    background-color: rgb(240, 239, 242);
}
.container{
    width: 55%;
    margin: 0 auto;
    padding-top: 50px;
}
.page-title{
    padding-left: 20px;
    border-left: 5px solid black;
}
.month-nav.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.current{
    position: relative;
}
.current::before{
    position: absolute;
    content: "";
    background-image: url(../items/calendar.svg);
    top: 50%;
    left: -40px;
    transform: translate(0, -50%);
    width: 35px;
    height: 30px;
    background-repeat: no-repeat;
}

.sheet {
    
    overflow: auto;
}

.att-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    /* 行間の丸みを出す */
}

.att-table thead th {
    text-align: left;
    font-size: 13px;
    color: #666;
    font-weight: 700;
    padding: 10px 14px;
}

.att-table thead th:last-child {
    text-align: center;
}

.att-table tbody tr {
    background: #fff;
    /* border: 1px solid var(--line); */
    border-radius: 12px;
    width: 100%;
}

.att-table tbody td {
    padding: 14px;
    font-size: 14px;
    border-bottom: 1px solid transparent;
}